<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ktds.mvp.demo.domain.model.mapper.ModelMapper">
    <resultMap id="modelResultMap" type="com.ktds.mvp.demo.domain.model.dto.ModelResponse">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
    </resultMap>


    <select id="getModelListByBrand" resultMap="modelResultMap">
        select id, name
        from model
        where brand_id = #{brandId}
    </select>
</mapper>